  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background-image: url(https://media.tenor.com/9vRAkntogEMAAAAd/background.gif);
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(7px);
}

.main {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	position: relative;
	background: inherit;
}

.main:after{
	content: "";
  position: absolute;
	inset: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
	box-shadow: 0 0 5px 5px #930cf121 , 0 0 5px 10px #22108f1f;
}

.main .number {
	--rotate: 0;
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	transform: rotate(var(--rotate));
	font-family: 'Montserrat', sans-serif;
/*	font-weight: 400;*/
}

.main .number1 {--rotate: 30deg;}
.main .number2 {--rotate: 60deg;}
.main .number3 {--rotate: 90deg;}
.main .number4 {--rotate: 120deg;}
.main .number5 {--rotate: 150deg;}
.main .number6 {--rotate: 180deg;}
.main .number7 {--rotate: 210deg;}
.main .number8 {--rotate: 240deg;}
.main .number9 {--rotate: 270deg;}
.main .number10 {--rotate: 300deg;}
.main .number11 {--rotate: 330deg;}
